{% extends "squadbuilder/header.html" %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


{% block content %}

{{upgrade_bonus}}
<script type='text/javascript'>
var upgrades = {{ upgrades|safe }};
var pilotCost = {{pilotCost|safe}};
var upgradeCardList = {{cards|safe}};
var available_ships = {{available_ships|safe}};
var available_pilots = {{available_pilots|safe}};
var upgrade_restrictions = {{upgrade_restrictions|safe}};
var upgrade_bonus = {{upgrade_bonus|safe}};
</script>

  <ul class="nav nav-tabs" role="tablist" id="mytabs">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Rebel</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Empire</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Scum</a></li>
  </ul>
  
  <div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="home">
	
	{% for ship in ships%}
	{% if ship.faction == "Rebels"%}
	  <div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingOne">
		  <h4 class="panel-title">
			<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ship.name}}" aria-expanded="false" aria-controls="collapse{{ship.name}}">
			  {{ship.name}}
			</a>
		  </h4>
		</div>
		
		
		<div id="collapse{{ship.name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
			{% for pilot in pilots %}
			{% if pilot.ship == ship.name and pilot.faction == "Rebels"%}
				<div class="list-group">
					<div class="btn-group" data-toggle="buttons">
						<label >
							<button type="pilotbutton" class="btn btn-default" id="{{pilot.id}}" name="p{{pilot.code}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{pilot.name}}-{{pilot.cost}}</button>
						</label>
					</div>
				</div>
			{% endif %}
			{% endfor %}
		</div>

	  </div>
	{% endif %}
	{% endfor %}
	</div>
	
	<div role="tabpanel" class="tab-pane" id="profile">
	{% for ship in ships%}
	{% if ship.faction == "Empire"%}
	  <div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingOne">
		  <h4 class="panel-title">
			<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ship.name}}" aria-expanded="false" aria-controls="collapse{{ship.name}}">
			  {{ship.name}}
			</a>
		  </h4>
		</div>
	
		<div id="collapse{{ship.name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
			{% for pilot in pilots %}
			{% if pilot.ship == ship.name and pilot.faction == "Empire"%}
				<div class="list-group">
					<div class="btn-group" data-toggle="buttons">
						<label >
						<button type="pilotbutton" class="btn btn-default" id="{{pilot.id}}" name="p{{pilot.code}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{pilot.name}}-{{pilot.cost}}</button>
						</label>
					</div>
				</div>
			{% endif %}
			{% endfor %}
		</div>

	  </div>
	{% endif %}
	{% endfor %}
	</div>
	
	<div role="tabpanel" class="tab-pane" id="messages">
	{% for ship in ships%}
	{% if ship.faction == "Scum" or ship.altFaction == "Scum"%}
	  <div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingOne">
		  <h4 class="panel-title">
			<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ship.name}}Scum" aria-expanded="false" aria-controls="collapse{{ship.name}}Scum">
			  {{ship.name}}
			</a>
		  </h4>
		</div>
	
		<div id="collapse{{ship.name}}Scum" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
			{% for pilot in pilots %}
			{% if pilot.ship == ship.name and pilot.faction == "Scum"%}
				<div class="list-group">
					<div class="btn-group" data-toggle="buttons">
						<label >
						<button type="pilotbutton" class="btn btn-default" id="{{pilot.id}}" name="p{{pilot.code}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{pilot.name}}-{{pilot.cost}}</button>
						</label>
					</div>
				</div>
			{% endif %}
			{% endfor %}
		</div>

	  </div>
	{% endif %}
	{% endfor %}
	</div>
  </div>
	
	<div class="panel panel-primary">
		<div class="panel-heading" style="font-size:20px"><center>Your Squad <p id="cost"></p></center></div>
		<div class="panel-body" id="squad"></div>
		<form method="POST">{% csrf_token %}
		<input type="hidden" name="squadcode" value="">
		<center><button id="savesquad" type="button" class="btn btn-success" data-toggle="modal" data-target=".mymodal">Save Squad</button></center>
		</form>
	</div>	
</div>

<div class="modal fade mymodal" tabindex="-1" role="dialog" aria-labelledby="test">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">Please enter a name for your squad:</h4>
		</div>
		
		{% if user.is_authenticated %}
		<form method="POST">{% csrf_token %}
		<div id="savedialog">

		</div>
		</form>
		{% else %}
		<h3>Sorry you must be logged in to save squads</h3>
		{% endif %}
    </div>
  </div>
</div>


{% endblock %}

