{% extends "squadbuilder/header.html" %}


{% block content %}

<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Your Squads</h3>
	</div>
	<div class="panel-body">
		{% for squad in user_squads %}
			<a href="/squad/{{squad.id}}">{{squad.name}}</a>
			<p>{{squad.upvotes}}  
				<span class="glyphicon glyphicon-thumbs-up" name="squad{{squad.id}}"></span>  
				Likes
				<br>Created on: {{squad.createdDate}}
			</p>
		{% endfor %}
	</div>
</div>
	

{% endblock %}	